<h1>Blog Posts<h1>
<% @posts.each do |post| %>
	<div class="card bg-light" style="margin-bottom: 5px">
		<div class="card-body">
	 	<h4><%= post.title %></h4>
	 	<p><%= post.body %></p>
		<%= link_to 'Read More...', post_path(post), :class => 'btn btn-outline-dark' %>
	</div>
	</div>
<% end %>